.headerLink{
    text-decoration: none;
    color: #000;
}
.navLink{
    display: block;
    text-decoration: none;
    color: #7D859D;
    padding: 10px;
    margin: 15px;
}
.active{
    display: block;
    text-decoration: none;
    color: #4072EE;
    border: 2px solid #4072EE;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

@media (max-width: 768px) {
    .active{
        margin: 0;

    }
    .navLink{
        margin: 0;
    }
}



